.category-item {
  margin: 0 $gutter-page 0 $gutter-page;
  padding: $gutter-sm 0 $gutter-sm 0;
  border-top: 1.5px solid $tertiary-color;
  color: $primary-color;
  
  .category-item-content {
    display: inline-block;
    border: 1px orange dashed;

    h3 {
      display: inline;
      padding-right: 2vw;
      font-size: $font-large/2;
    }

    p {
      font-size: $font-large/3;
      display: inline;
    }

    span {
      font-weight: bold;
    }
  }

  .category-item-edit {
    float: right;
    width: 40%;
    text-align: right;
    border: 1px blue dashed;

    .delete-button {
      background: none;
      color: $primary-color;
      display: inline;
      margin: 0;
      padding: 0;
    }

    div {
      display: inline;
    }

    input {
      width: 50%;
    }

    button {
      display: inline;
      margin: 0;
    }
  }

  input {
    float: right;
    border: 1.5px solid $tertiary-color;
    width: 20%;
    padding: 4px;
    margin: 0 0 0 5px;
  }

  form {
    margin: 0 0 0 5px;
  };

  .form-button {
    width: 25%;
    padding: 4px;
    margin-right: 5px;
  }
}