.expense-item {
  margin-top: 20px;
  padding: 0 $gutter-page $gutter-sm $gutter-page;

  input {
    float: left;
  }

  .delete-button {
    background: none;
    color: $primary-color;
    float: right;
    margin: 0;
    padding: 0;
  }
}